<html>
  <head>
    <title>Album</title>
  </head>
  <body>
    <h1>Album
      {% if object.user == request.user %}
        (<a href="{% url 'musicseaapp:albums_edit' object.id %}">edit</a>)
        (<a href="{% url 'musicseaapp:album_delete' object.id %}">delete</a>)
      {% endif %}
    </h1>
    <h2> {{ object.name }} </h2>
    {%	if	object.image	%}
        <p><img	src="{{object.image.url}}" width="300px"/></p>
    {%	endif	%}
    <ul>
      <li>
          <b>Name:</b> {{object.name}}
      </li>

      <li>
          <b>Group:</b><a href="{% url "musicseaapp:groups_detail" object.group.id%}">  {{object.group.name}} </a>
      </li>

      <li>
          <b>Release:</b> {{object.release}}
      </li>

      <li>
          <b>Bibliography:</b> {{object.bibliography}}
      </li>

      <br>
      <a href='/musicseaapp/albums'> More Albums </a>
      <br>
      <a href='/'> Home </a>
    </ul>
  </body>
</html>