<html>
  <head>
    <title>Artist</title>
  </head>
  <body>
    <h1>Artist
      {% if object.user == request.user %}
        (<a href="{% url 'musicseaapp:artists_edit' object.id %}">edit</a>)
        (<a href="{% url 'musicseaapp:artist_delete' object.id %}">delete</a>)
      {% endif %}
    </h1>
    <h2> {{ object.name }} </h2>
    {%	if	object.image	%}
        <p><img	src="{{object.image.url}}" width="300px"/></p>
    {%	endif	%}
    <ul>
      <li>
          <b>Name:</b> {{object.name}}
      </li>

      <li>
          <b>Gender:</b> {{object.gender}}
      </li>

      <li>
          <b>Was born at:</b> {{object.city}} (city), {{object.province_or_state}} (province/state), {{object.country}} (country)
      </li>

      <li>
          <b>Birthdate:</b> {{object.birthdate}}
      </li>

      <li>
          <b>Bibliography:</b> {{object.bibliography}}
      </li>

      <li>
          <b>Image:</b> {{object.image}}
      </li>

      <br>
      <a href='/musicseaapp/artists'> More artists </a>
      <br>
      <a href='/'> Home </a>
    </ul>
  </body>
</html>