<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1> Wellcome to MusicSea!</h1>
    </head>
    {% block header %}
    {% if user.username %}
        <p>You are logged as: <b>{{ user.username }} </b>| <a href="{% url 'logout' %}?next={{request.path}}">logout</a></p>
    {% else %}
        <p><a href="{% url 'login' %}?next={{request.path}}">login</a></p>
        <p><a href="{% url 'register' %}"  class="top-menu">Sign up<span class="glyphicon glyphicon-plus"></span></a></p>
    {% endif %}
            {% endblock %}
<body background="http://www.cqsisu.com/data/wallpapers/163/1273987.jpg">
    <a href="/musicseaapp/api/groups">API Groups</a></h2>
    <a href="/musicseaapp/api/artists/">API Artists</a></h2>
    <a href="/musicseaapp/api/albums">API Albums</a></h2>
    <a href="/musicseaapp/api/songs">API Songs</a></h2><br><br><br>

    <h4><a href="/admin">Admin</a></h4>
    <h2><a href="/musicseaapp/groups">Groups</a></h2>
    <h2><a href="/musicseaapp/artists">Artists</a></h2>
    <h2><a href="/musicseaapp/albums">Albums</a></h2>
    <h2><a href="/musicseaapp/songs">Songs</a></h2>
</body>
</html>